version: '3'
services:
  mysql:
    image: mysql:8.0.37
    container_name: mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: 959697989900
      MYSQL_DATABASE: kakaon
      MYSQL_USER: kakaon
      MYSQL_PASSWORD: 959697989900
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - backend-net

  redis:
    image: redis:7.2
    container_name: redis
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    networks:
      - backend-net

volumes:
  mysql_data:
  redis_data:

networks:
  backend-net:
    driver: bridge
