.clock-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.clock-container .divider {
    font-size: 30px;
    color: #ccc;
    margin: 0 2px;
}

ul.flip {
    position: relative;
    float: left;
    margin: 1px;
    width: 28px;
    height: 42px;
    font-size: 38px;
    font-weight: bold;
    line-height: 40px;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);
}

ul.flip li {
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

ul.flip li.active {
    z-index: 2;
}

ul.flip li a {
    display: block;
    height: 100%;
    perspective: 100px;
    text-decoration: none;
    color: #ccc;
}

ul.flip li a div {
    z-index: 1;
    position: absolute;
    left: 0;
    width: 100%;
    height: 50%;
    overflow: hidden;
}

ul.flip li a div .shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
}

ul.flip li a div.up {
    transform-origin: 50% 100%;
    top: 0;
}

ul.flip li a div.up:after {
  content: "";
  position:absolute;
  top: 20px;
  left:0;
  z-index: 5;
  width: 100%;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.4);
}

ul.flip li a div.down {
    transform-origin: 50% 0%;
    bottom: 0;
}

ul.flip li a div div.inn {
    position: absolute;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 200%;
    color: #e8e8e8;
    text-shadow: 0 1px 2px #000;
    text-align: center;
    background-color: #6d6d6d;
    border-radius: 3px;
}

ul.flip li a div.up div.inn {
    top: 0;
}

ul.flip li a div.down div.inn {
    bottom: 0;
}

/* PLAY */

.play li.before {
    z-index: 3;
}

.play li.active {
    animation: asd .5s .5s linear both;
    z-index: 2;
}

@keyframes asd {
    0% { z-index: 2; }
    5% { z-index: 4; }
    100% { z-index: 4; }
}

.play li.active .down {
    z-index: 2;
    animation: turn .5s .5s linear both;
}

@keyframes turn {
    0% { transform: rotateX(90deg); }
    100% { transform: rotateX(0deg); }
}

.play li.before .up {
    z-index: 2;
    animation: turn2 .5s linear both;
}

@keyframes turn2 {
    0% { transform: rotateX(0deg); }
    100% { transform: rotateX(-90deg); }
}

/* SHADOW */

.play li.before .up .shadow {
    background: linear-gradient(to bottom, rgba(0, 0, 0, .1) 0%, rgba(0, 0, 0, 1) 100%);
    animation: show .5s linear both;
}

.play li.active .up .shadow {
    background: linear-gradient(to bottom, rgba(0, 0, 0, .1) 0%, rgba(0, 0, 0, 1) 100%);
    animation: hide .5s .3s linear both;
}

.play li.before .down .shadow {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, .1) 100%);
    animation: show .5s linear both;
}

.play li.active .down .shadow {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, .1) 100%);
    animation: hide .5s .3s linear both;
}

@keyframes show {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes hide {
    0% { opacity: 1; }
    100% { opacity: 0; }
}
